{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akce handy</title>
    <link href="{% static 'PokerAnalyser1/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link>
    <script src="{% static 'PokerAnalyser1/bootstrap/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        {% include "includes/menu.html" %}
    </header>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Hráč</th>
                <th scope="col">Pořadí akce</th>
                <th scope="col">Typ akce</th>
                <th scope="col">Sázkové kolo</th>
                <th scope="col">Částka</th>
            </tr>
        </thead>
        <tbody>
            {% for action in actions %}
            <tr>
                <th scope="row">{{action.id}}</th>
                <td>{{action.player.nickname}}</td>
                <td>{{action.sequence}}</td>
                <td>{{action.type}}</td>
                <td>{{action.street}}</td>
                <td>{{action.invested}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

</body>

</html>