{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail handy</title>
    <link href="{% static 'PokerAnalyser1/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link>
    <script src="{% static 'PokerAnalyser1/bootstrap/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        {% include "includes/menu.html" %}
    </header>
    <center>
        <table class="table table-dark">
            <tbody>
                <tr>
                    <th>Stůl</th>
                    <td>{{hand.table.name}}</td>
                </tr>
                <tr>
                    <th>Číslo handy</th>
                    <td>{{hand.num}}</td>
                </tr>
                <tr>
                    <th>Čas odehrání</th>
                    <td>{{hand.time|date:"d.m.Y H:i"}}</td>
                </tr>
                <tr>
                    <th>Poplatek</th>
                    <td>{{hand.rake}}</td>
                </tr>
                <tr>
                    <th>Celkový pot</th>
                    <td>{{hand.total_pot}}</td>
                </tr>
                <tr>
                    <th>Board</th>
                    <td>
                        {% if hand.card_1 is not None %}
                        [{{hand.card_1}}]
                        {% endif %}
                        {% if hand.card_2 is not None %}
                        [{{hand.card_2}}]
                        {% endif %}
                        {% if hand.card_3 is not None %}
                        [{{hand.card_3}}]
                        {% endif %}
                        {% if hand.card_4 is not None %}
                        [{{hand.card_4}}]
                        {% endif %}
                        {% if hand.card_5 is not None %}
                        [{{hand.card_5}}]
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Hráči</th>
                    <td><a href="{% url 'hand-players' hand.id%}">zobrazit</a></td>
                </tr>
                <tr>
                    <th>Akce</th>
                    <td><a href="{% url 'actions' hand.id%}">zobrazit</a></td>
                </tr>
            </tbody>
        </table>

        <form action="{% url 'hand-detail' hand.id%}" method="post">{% csrf_token %}
            <label for="table">Stůl:</label>
            <select name="table"><br>
                {% for table in tables %}
                    {% if table == hand.table %}
                        <option selected="selected">{{table.name}}</option>
                    {% endif %}
                    {% if table != hand.table %}
                        <option>{{table.name}}</option>
                    {% endif %}

                {% endfor %}
            </select><br>
            <label for="num">Číslo handy:</label>
            <input type="number"  name="num" value="{{hand.num}}" step="1"><br>
            <label for="time">Čas odehrání:</label>
            <input type="datetime-local" name="time" value="{{iso_date}}"><br>
            <label for="rake">Poplatek:</label>
            <input type="number"  name="rake" value="{{hand.rake}}" step=".01"><br>
            <label for="pot">Celkový pot:</label>
            <input type="number"  name="pot" value="{{hand.total_pot}}" step=".01"><br>
            <label for="card_1">Karta 1:</label>
            <input type="text"  name="card_1" value="{{hand.card_1}}"><br>
            <label for="card_2">Karta 2:</label>
            <input type="text"  name="card_2" value="{{hand.card_2}}"><br>
            <label for="card_3">Karta 3:</label>
            <input type="text"  name="card_3" value="{{hand.card_3}}"><br>
            <label for="card_4">Karta 4:</label>
            <input type="text"  name="card_4" value="{{hand.card_4}}"><br>
            <label for="card_5">Karta 5:</label>
            <input type="text"  name="card_5" value="{{hand.card_5}}"><br>
            <input type="submit" value="Uložit změny"><br>
        </form>
        <form action="{% url 'hand-delete' hand.id%}" method="post">{% csrf_token %}
            <input type="submit" value="Smazat" />
        </form>


    </center>

    {% if output_msg is not None %}
    <script>
        alert("{{output_msg}}")
    </script>
    {% endif %}

</body>

</html>