<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Přidání handy</title>
</head>
<body>
    <header>
        {% include "includes/menu.html" %}
    </header>
    <center>
        <form action="{% url 'hand-add' %}" method="post">{% csrf_token %}
            <label for="table">Stůl:</label>
            <select name="table">
                {% for table in tables %}
                    <option>{{table.name}}</option>
                {% endfor %}
            </select><br>
            <label for="num">Číslo handy:</label>
            <input type="number"  name="num" step="1"><br>
            <label for="time">Čas odehrání:</label>
            <input type="datetime-local" name="time"><br>
            <label for="rake">Poplatek:</label>
            <input type="number"  name="rake" step=".01"><br>
            <label for="pot">Celkový pot:</label>
            <input type="number"  name="pot" step=".01"><br>
            <label for="card_1">Karta 1:</label>
            <input type="text"  name="card_1" ><br>
            <label for="card_2">Karta 2:</label>
            <input type="text"  name="card_2" ><br>
            <label for="card_3">Karta 3:</label>
            <input type="text"  name="card_3"><br>
            <label for="card_4">Karta 4:</label>
            <input type="text"  name="card_4" ><br>
            <label for="card_5">Karta 5:</label>
            <input type="text"  name="card_5" ><br>
            <input type="submit" value="Uložit změny"><br>
        </form>
    </center>

    {% if output_msg is not None %}
    <script>
        alert("{{output_msg}}")
    </script>
    {% endif %}

</body>
</html>