{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hráči handy</title>
    <link href="{% static 'PokerAnalyser1/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link>
    <script src="{% static 'PokerAnalyser1/bootstrap/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        {% include "includes/menu.html" %}
    </header>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Přezdívka</th>
                <th scope="col">Sedadlo</th>
                <th scope="col">Pozice</th>
                <th scope="col">Počáteční stack</th>
                <th scope="col">Sebraná částka</th>
                <th scope="col">Vložená částka</th>
                <th scope="col">Ostatní částky</th>
                <th scope="col">Karty</th>
                <th scope="col">Won hand</th>
                <th scope="col">WTSD</th>
            </tr>
        </thead>
        <tbody>
            {% for hand_player in hand_players %}
            <tr>
                <th scope="row">{{hand_player.id}}</th>
                <td>{{hand_player.player.nickname}}</td>
                <td>{{hand_player.seat}}</td>
                <td>{{hand_player.position}}</td>
                <td>{{hand_player.initial_stack}}</td>
                <td>{{hand_player.collected}}</td>
                <td>{{hand_player.invested}}</td>
                <td>{{hand_player.returned_or_blind}}</td>
                <td>
                {% if hand_player.card_1 is not None %}
                [{{hand_player.card_1}}]
                {% endif %}
                {% if hand_player.card_2 is not None %}
                [{{hand_player.card_2}}]
                {% endif %}</td>
                <td>{{hand_player.won_hand}}</td>
                <td>{{hand_player.went_to_showdown}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

</body>

</html>