{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evidence hand</title>
    <link href="{% static 'PokerAnalyser1/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link>
    <script src="{% static 'PokerAnalyser1/bootstrap/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        {% include "includes/menu.html" with active_tab='hands' %}
    </header>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Číslo</th>
                <th scope="col">Čas odehrání</th>
                <th scope="col">Board</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope = "row"><a href="{% url 'hand-add' %}"> Přidat handu</a></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% for hand in hands %}
            <tr>
                <th scope="row">{{hand.id}}</th>
                <td>{{hand.num}}</td>
                <td>{{hand.time|date:"d.m.Y H:i"}}</td>
                <td>
                    {% if hand.card_1 is not None %}
                    [{{hand.card_1}}]
                    {% endif %}
                    {% if hand.card_2 is not None %}
                    [{{hand.card_2}}]
                    {% endif %}
                    {% if hand.card_3 is not None %}
                    [{{hand.card_3}}]
                    {% endif %}
                    {% if hand.card_4 is not None %}
                    [{{hand.card_4}}]
                    {% endif %}
                    {% if hand.card_5 is not None %}
                    [{{hand.card_5}}]
                    {% endif %}
                    </td>
                    <td><a href="{% url 'hand-detail' hand.id %}">detail</a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

</body>

</html>