{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hlavní stránka</title>
</head>
<body>
    <center>
        <h1>Poker Analyser</h1>
    </center>
    <header>
        {% include "includes/menu.html" with active_tab='index' %}
    </header>
    <img src="{% static 'PokerAnalyser1/img/frontpage.png' %}" alt="karty" width="100%" height="auto">



</body>
</html>