<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Přihlásit se</title>

</head>

<body>
    <center>
        <form action="{% url 'login' %}" method="post">{% csrf_token %}
            <label for="fname">Uživatelské jméno:</label><br>
            <input type="text" name="username"><br>
            <label for="lname">Heslo:</label><br>
            <input type="password"  name="password"><br>
            <input type="submit" value="Přihlásit">
        </form>
        
        <p><a href = "{% url 'register' %}">Registrovat se</a></p>

        {% if output_msg is not None %}
        <script>
            alert("{{output_msg}}")
        </script>
        {% endif %}

    </center>
</body>

</html>