{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail poznámky</title>
    <link href="{% static 'PokerAnalyser1/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link>
    <script src="{% static 'PokerAnalyser1/bootstrap/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        {% include "includes/menu.html" %}
    </header>
    <center>
        <table class="table table-dark">
            <tbody>
              <tr>
                <th>Hráč</th>
                <td>{{note.player.nickname}}</td>
              </tr>
              <tr>
                <th>Čas vytvoření</th>
                <td>{{note.created_at|date:"d.m.Y H:i"}}</td>
              </tr>
              <tr>
                <th>Text</th>
                <td>{{note.text}}</td>
              </tr>
            </tbody>
          </table>

        <form action="{% url 'note-detail' note.id%}" method="post">{% csrf_token %}
            <label for="player">Hráč:</label>
            <select name="player">
                {% for player in players %}
                    {% if player == note.player %}
                        <option selected="selected">{{player.nickname}}</option>
                    {% endif %}
                    {% if player != note.player %}
                        <option>{{player.nickname}}</option>
                    {% endif %}

                {% endfor %}
            </select><br>
            <label for="text">Text:</label>
            <input type="text"  name="text" value="{{note.text}}"><br>
            <input type="submit" value="Uložit změny">
        </form>
        <form action="{% url 'note-delete' note.id%}" method="post">{% csrf_token %}
            <input type="submit" value="Smazat" />
        </form>
    </center>

    {% if output_msg is not None %}
    <script>
        alert("{{output_msg}}")
    </script>
    {% endif %}

</body>
</html>