{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evidence poznámek</title>
    <link href="{% static 'PokerAnalyser1/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link>
    <script src="{% static 'PokerAnalyser1/bootstrap/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        {% include "includes/menu.html" with active_tab='notes' %}
    </header>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Hráč</th>
                <th scope="col">Čas vytvoření</th>
                <th scope="col">Text</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope = "row"><a href="{% url 'note-add' %}"> Vytvořit poznámku</a></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% for note in notes %}
            <tr>
                <th scope="row">{{note.id}}</th>
                <td>{{note.player.nickname}}</td>
                <td>{{note.created_at|date:"d.m.Y H:i"}}</td>
                <td>{{note.text}}</td>
                <td><a href="{% url 'note-detail' note.id %}">detail</a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

</body>

</html>