<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Přidání poznámky</title>
</head>
<body>
    <header>
        {% include "includes/menu.html" %}
    </header>
    <center>
        <form action="{% url 'note-add' %}" method="post">{% csrf_token %}
            <label for="player">Hráč:</label>
            <select name="player">
                {% for player in players %}
                    <option>{{player.nickname}}</option>
                {% endfor %}
            </select><br>
            <label for="text">Text:</label>
            <input type="text"  name="text"><br>
            <input type="submit" value="Uložit">
        </form>
    </center>

    {% if output_msg is not None %}
    <script>
        alert("{{output_msg}}")
    </script>
    {% endif %}

</body>
</html>