{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrovat se</title>

</head>

<body>
    <center>
            <form action="{% url 'register' %}" method="post">{% csrf_token %}
                <label for="username">Uživatelské jméno:</label><br>
                <input type="text" name="username"><br>
                <label for="password">Heslo:</label><br>
                <input type="password"  name="password"><br>
                <label for="password_check">Heslo (podruhé):</label><br>
                <input type="password"  name="password_check"><br>
                <input type="submit" value="Registrovat">
            </form>
        <p><a href = "{% url 'login' %}">Přihlásit se</a></p>

        {% if output_msg is not None %}
        <script>
            alert("{{output_msg}}")
        </script>
        {% endif %}

    </center>
</body>

</html>