{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stoly</title>
    <link href="{% static 'PokerAnalyser1/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link>
    <script src="{% static 'PokerAnalyser1/bootstrap/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        {% include "includes/menu.html" with active_tab='tables' %}
    </header>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Název</th>
                <th scope="col">Měna</th>
                <th scope="col">SB</th>
                <th scope="col">BB</th>
                <th scope="col">Ante</th>
            </tr>
        </thead>
        <tbody>
            {% for table in tables %}
            <tr>
                <th scope="row">{{table.id}}</th>
                <td>{{table.name}}</td>
                <td>{{table.currency}}</td>
                <td>{{table.sb_size}}</td>
                <td>{{table.bb_size}}</td>
                <td>{{table.ante_size}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

</body>

</html>