<ul>
    {% if active_tab != 'index' %}
    <li><a href="{% url 'index' %}">Hlavní stránka</a></li>
    {% endif %}
    {% if active_tab != 'notes' %}
    <li><a href="{% url 'notes' %}">Poznámky</a></li>
    {% endif %}
    {% if active_tab != 'hands' %}
    <li><a href="{% url 'hands' %}">Handy</a></li>
    {% endif %}
    {% if active_tab != 'tables' %}
    <li><a href="{% url 'tables' %}">Stoly</a></li>
    {% endif %}
    <li><a href="{% url 'logout' %}" style="color:green">Odhlásit se</a></li>
</ul>
